$secondary: #999;
$text-disabled: #B3B3B3;
$popup-wrap: rgba(0, 0, 0, 0.75);
$system-boarder: #A7A8AB;
$text-main: #303030;
$accent-primery: #8CC63E;
$accent-primery-opacity: rgba(140, 198,62, .80);
$color-white: #FFF;
